@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

.container{
    margin: 100px auto;
  max-width: 1300px;
  border: 1px solid #EEEEE;
    
}
.sub-container{
 display: flex;
    justify-content: space-around;
}
.heading-text{
     max-width: 450px;
     margin-top: 100px;
    
}
.heading-text h1{
    font-size: 50px;
    font-weight: bolder;
    color:hsl(300, 43%, 22%) ;
    text-shadow: 0px 0px 2px  hsl(300, 43%, 22%);
}
.heading-text p
{
    margin-top: 10px;
    line-height: 1.4;
    color: hsl(303, 10%, 53%);
}
@media screen and (max-width:700px){
    .heading-text h1{
        text-align: center;
        width: 100%;
        font-size: 30px;
       
    }
    .heading-text p
{
    font-size:13px ;
    margin-top: 10px;
    color: hsl(303, 10%, 53%);
    text-align: center;
}
.reviews{
    margin: 10px;
}
.icon1{
    padding: 10px;

}
.icon2{
    max-width: 100%;
    margin-left: 0;
    padding: 10px;
}
.icon3{
   max-width: 100%;
    margin-left: 0;
    padding: 10px;
}
.person{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center; 
    margin: 15px;
}
}
.reviews{
    margin: 100px 100px 50px 0px
}
.item{
    margin-top: 30px;
    border-radius: 10px; 
}
.item span{
    margin-left: 40px;
    text-transform: capitalize;
    font-size: 13px;
    color:  hsl(300, 43%, 22%);
    font-weight: bolder;
    text-shadow: 0px 0px 1px  hsl(300, 43%, 22%);
    
}
.icon1{
    border-radius: 5px;
    width: 400px;
    padding: 10px  0 10px 35px;
    background-color: #f1f1f1;
}
.icon2{
    border-radius: 5px;
  width:400px;
    margin-left: 50px;
    background-color: #f1f1f1;
    padding: 10px  0 10px 35px;
}
.icon3{
    border-radius: 5px;
   width: 400px;
   background-color: #f1f1f1;
    margin-left: 100px;
    padding: 10px  0 10px 35px;
}
.person{
    display: flex;
    justify-content: space-around;
    margin: 100px 40px;
}
.item1{
    margin-left: 10px;
    max-width: 350px;
    background-color: hsl(300, 43%, 22%);
    border-radius: 6px;
}
.item1 img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.item1 .img{
    margin: 30px 0px 20px 25px;
    display: flex;
}
.item1 .img .name{
    text-align: center;
    color: white;
    margin:5px 0 5px 13px ;
    font-size: .8em;
    
}
.item1 .img  span{
    display: inline;
    padding-top: 10px;
    color: hsl(333, 80%, 67%);
}
.item1 .discripition p {
margin:0 25px 30px 30px;
color: white;
font-size: .7em;
letter-spacing: 1px;
line-height: 1.5;
 word-break: break-all;
}
#card2{
   position: relative;
   top: 20px;
}
#card3{
    position: relative;
    top: 40px;
}
